@use 'theme';

.footer {
    background-color: theme.$menu-background;
    color: theme.$menu-foreground;
    display: grid;
    grid-template-columns: max-content auto max-content;
    padding: 4px;
}
