// https://github.com/microsoft/vscode/blob/main/extensions/theme-defaults/themes/dark_vs.json
$background: #1E1E1E;
$foreground: #D4D4D4;
$separator: #454545;
$menu-background: #252526;
$menu-foreground: #CCCCCC;
